@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

nav{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  list-style: none;
  padding:  1rem;
  color: aliceblue;
}
img{
  width: 40px;
  height: 40px;
}
button{
  background: transparent;
  border: none;
}
.isdark{
  background:#363636;
  color: #fff;
}
.islight{
  background: #DDD;
  color:#171010;
}
.bgDark{
  background-color: #040303;
}
.bgLight{
  background-color: #FFFDF9;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height:85vh;
  padding-top: 6rem;

}
.timelist{
  list-style: none;
  display: flex;
}
.time{
  padding: 2rem 3rem;
  margin: 1rem;
  font-size: 11rem;
  border-radius: 0.75rem;
  font-family: 'Bebas Neue', cursive;
  display: flex;
  letter-spacing: 0.25rem;
  align-items: flex-end;
  height: 24rem;
}
.hour-side{
 flex-direction: row-reverse;
 padding-left: 0.5rem;
 padding-bottom: 0.5rem;
}
.minute-side{
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
h1{
  padding: 0 0.5rem;
  font-weight: 400;
  height: 400px;
}
.details{
  font-size: 2rem;
}

footer ul{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  list-style: none;
  padding: 0 2rem 3rem 2rem;

}
footer li{
  padding: 0 .5rem;
   font-size: 1.25rem;

}
footer a{
  color:#E7E2E2; 
}

@media screen and (max-width:600px) {
  
  html,body{
    overflow-x: hidden;
    overflow-y: visible;
  }
  .wrapper{
    max-width: 25rem;
    align-items: flex-start;
    padding-top: 0;
  }
  .timelist{
    flex-direction: column;
  }
  .time{
    font-size: 7rem;
    height: 19rem;
  }
nav{
  padding: .25rem;
}
  h1{
    height: 280px;
  }
  img{
    margin-right: 1rem;
  }
  footer ul{
    padding: 1rem 2rem 2rem 1rem;
    
  }
}