@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  list-style: none;
  padding:  1rem;
  color: aliceblue;
}
img{
  width: 40px;
  height: 40px;
}
button{
  background: transparent;
  border: none;
}
.isdark{
  background:#363636;
  color: #fff;
}
.islight{
  background: #DDD;
  color:#171010;
}
.bgDark{
  background-color: #040303;
}
.bgLight{
  background-color: #FFFDF9;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.timelist{
  list-style: none;
  display: flex;
}
.time{
  padding: 2rem;
  margin: 1rem;
  font-size: 11rem;
  border-radius: 0.75rem;
  font-family: 'Bebas Neue', cursive;
  display: flex;
  letter-spacing: 0.25rem;
  align-items: flex-end;
 height: 28rem;
}
.hour-side{
 flex-direction: row-reverse;
 padding-left: 0.5rem;
 padding-bottom: 0.5rem;
}
.minute-side{
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
h1{
  padding: 0 0.5rem;
  font-weight: 400;
}
.details{
  font-size: 2rem;
}

@media screen and (max-width:600px) {
  
  html,body{
    overflow-x: hidden;
  }
  .wrapper{
    max-width: 25rem;
   
  }
  .timelist{
    flex-direction: column;
  }
  .time{
    font-size: 8rem;
    height: 16rem;
  }
  .time{
    height: 20rem;
  }
  img{
    margin-bottom: 1rem;
  }
}